$text_primary: #042419;
$text_secondary: #757575;
$text_invert: #FFFFFF;

$border_secondary: rgba(67, 88, 117, 0.18);

$bg_main: #F2F3F7;
$bg_island: #FFFFFF;
$bg_brand_soft: rgba(0, 123, 255, 0.10);

$brand_color: #007BFF;
$active_color: #007BFF;




$desctop_container: 1200px;
