@import "@styles/variables";

.modal_body{
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: start;
    width: 100%;
}

.input_group{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

.title{
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: $text_secondary;
}

input{
    padding: 14px 22px;
    font-size: 14px;
    background: #EDF3FC;
    stroke: none;
    outline: none;
    border: 1px solid $border_secondary;
    border-radius: 8px;
}

select{
    padding: 14px 22px;
    font-size: 14px;
    background: #EDF3FC;
    stroke: none;
    outline: none;
    border: 1px solid $border_secondary;
    border-radius: 8px;
}

textarea{
    padding: 14px 22px;
    height: 200px;
    font-size: 14px;
    background: #EDF3FC;
    stroke: none;
    outline: none;
    border: 1px solid $border_secondary;
    border-radius: 8px;
}